<div class="write-letter-root">
    {{{header}}}
    {{{menu}}}
    <div class="write-letter-content">
        <div class="write-letter__to">
            <div class="write-letter__to__label">Кому</div>
            {{#if replyId}}
            <input type="text" class="write-letter__to__input" placeholder="ivanovii@mailhub.su" value="{{replySender}}"
                disabled>
            {{else}}
            <input type="text" class="write-letter__to__input" placeholder="ivanovii@mailhub.su">
            {{/if}}
            <div class="write-letter__to__error">Ошибка</div>
        </div>
        <div class="write-letter__subject">
            <span class="write-letter__subject__label">Тема</span>
            <input type="text" class="write-letter__subject__input" placeholder="О чём хотите написать?">
            <div class="write-letter__subject__error">Ошибка</div>
        </div>

        <div class="write-letter__attachments">
            <div class="write-letter__attachments__attach-button">Прикрепить файл</div>
            <div class="write-letter__attachments__view-button">
                <span class="write-letter__attachments__view-button__label">5 файлов</span>
                <span class="write-letter__attachments__view-button__counter">255 КБ</span>
            </div>
            <div class="write-letter__attachments__delete-all-button">Удалить все</div>
            <div class="write-letter__attachments__error">Ошибка</div>
        </div>
        {{#if sender}}
        <textarea class="write-letter__text" placeholder="Текст письма"
            maxlength="4096">------Пересылаемое сообщение------&#13;&#10;{{date}} {{sender}}&#13;&#10;{{topic}}&#13;&#10;{{text}}&#13;&#10;------Пересылаемое сообщение------&#13;&#10;</textarea>
        {{else}}
        <textarea class="write-letter__text" placeholder="Текст письма" maxlength="4096"></textarea>
        {{/if}}
        <div class="write-letter__buttons">
            <div class="write-letter__buttons__send-button">
                Отправить
            </div>
            <div class="write-letter__buttons__save-draft-button">
                Сохранить черновик
            </div>
            <div class="write-letter__buttons__cancel-button">
                Отменить
            </div>
            <div class="write-letter__buttons__error">Ошибка</div>
        </div>
    </div>
</div>