<div class="profile-root">
    {{{header}}}
    {{{menu}}}
    <div class="profile-content">
        <div class="profile__header">Личные данные</div>
        <div class="profile__form">

            <div class="profile__first-name-input-wrapper">
                <label>Имя</label>
                <input type="text" class="profile__first-name-input-wrapper__input" value="{{firstname}}"
                    placeholder="Иван">
                <div id="first-name-error" class="profile__buttons__error">Ошибка</div>
            </div>

            <div class="profile__middle-name-input-wrapper">
                <label>Отчество</label>
                <input type="text" class="profile__middle-name-input-wrapper__input" value="{{middlename}}"
                    placeholder="Иванович">
                <div id="middle-name-error" class="profile__buttons__error">Ошибка</div>
            </div>


            <div class="profile__last-name-input-wrapper">
                <label>Фамилия</label>
                <input type="text" class="profile__last-name-input-wrapper__input" value="{{lastname}}"
                    placeholder="Иванов">
                <div id="last-name-error" class="profile__buttons__error">Ошибка</div>
            </div>
            {{{birthday_select}}}
            {{{gender_select}}}




            <div class="profile__avatar-load-wrapper">
                <div class="profile__avatar-load-container">
                    {{#if avatar}}
                    <img class="profile__avatar-load-wrapper__avatar" src="{{avatar}}" alt="{{userLetter}}">
                    {{else}}
                    <div class="profile__avatar-load-wrapper__avatar">{{userLetter}}</div>
                    {{/if}}
                    <img src="/icons/add_outline_28.svg" class="profile__avatar-load-wrapper__avatar-set-icon">
                </div>
                <input type="file" value="Выберите фото" class="profile__avatar-load-wrapper__avatar-load-input">
                <div class="profile__avatar-load-wrapper__avatar-set-button">Установить фото</div>
                <div id="load-avatar-error" class="profile__buttons__error">Ошибка</div>

            </div>

            <div class="profile__bio-input-wrapper">
                <label>О себе</label>
                <input type="text" class="profile__bio-input-wrapper__input" value="{{description}}"
                    placeholder="Веб-разработчик">
                <div id="bio-error" class="profile__buttons__error">Ошибка</div>
            </div>
            <div class="profile__phone-input-wrapper">
                <label>Номер телефона</label>
                <input type="text" class="profile__phone-input-wrapper__input" value="{{phoneNumber}}"
                    placeholder="88005553535">
                <div id="phone-error" class="profile__buttons__error">Ошибка</div>
            </div>
            {{!-- <div class="profile__password-input-wrapper">
                <label>Новый пароль</label>
                <input type="password" class="profile__password-input-wrapper__input" placeholder="●●●●●●●●">
                <div id="password-error" class="profile__buttons__error">Ошибка</div>
            </div>
            <div class="profile__password-confirm-input-wrapper">
                <label>Новый пароль ещё раз</label>
                <input type="password" class="profile__password-confirm-input-wrapper__input" placeholder="●●●●●●●●">
                <div id="password-confirm-error" class="profile__buttons__error">Ошибка</div>
            </div> --}}


            <div class="profile__buttons">
                <div class="profile__buttons__save-button">Сохранить</div>
                <div class="profile__buttons__reset-button">
                    Сбросить
                </div>
                <div class="profile__buttons__cancel-button">
                    Отменить
                </div>
                <div id="buttons-error" class="profile__buttons__error">Ошибка</div>
            </div>
        </div>
    </div>
</div>