<div class="stat-root">
    {{{header}}}
    {{{menu}}}
    <div class="stat-content">
        <div id="stat-question-1" class="stat__question">{{stat1.text}}</div>
        <div id="stat-result-1" class="stat__result">{{stat1.average}}</div>
        <div id="stat-question-2" class="stat__question">{{stat1.text}}</div>
        <div id="stat-result-2" class="stat__result">{{stat1.average}}</div>
        <div id="stat-question-3" class="stat__question">{{stat1.text}}</div>
        <div id="stat-result-3" class="stat__result">{{stat1.average}}</div>
        <div id="stat-question-4" class="stat__question">{{stat1.text}}</div>
        <div id="stat-result-4" class="stat__result">{{stat1.average}}</div>
        <div id="stat-question-5" class="stat__question">{{stat1.text}}</div>
        <div id="stat-result-5" class="stat__result">{{stat1.average}}</div>
    </div>
</div>