<div class="stat-root">
    {{{header}}}
    {{{menu}}}
    <div class="stat-content">
        <div id="stat-question-1" class="stat__question">{{stat1.text}}</div>
        <div id="stat-result-1" class="stat__result">{{stat1.average}}</div>
        <div id="stat-question-2" class="stat__question">{{stat2.text}}</div>
        <div id="stat-result-2" class="stat__result">{{stat2.average}}</div>
        <div id="stat-question-3" class="stat__question">{{stat3.text}}</div>
        <div id="stat-result-3" class="stat__result">{{stat3.average}}</div>
        <div id="stat-question-4" class="stat__question">{{stat4.text}}</div>
        <div id="stat-result-4" class="stat__result">{{stat4.average}}</div>
        <div id="stat-question-5" class="stat__question">{{stat5.text}}</div>
        <div id="stat-result-5" class="stat__result">{{stat5.average}}</div>
    </div>
</div>