<div class="menu__folder custom {{#if folderFlag }} {{#if curFolder }} menu__folder_selected {{/if}} {{/if}}" data-id="{{id}}" id="f-folder-{{id}}">
    <div class="menu__folder__text" id="f-name-{{id}}">{{name}}</div>
    <img class="menu__custom-folder__options" id="f-options-{{id}}" src="/icons/more-options.svg">
    <div class="menu__custom-folder__dropdown__wrapper" id="f-wrapper-{{id}}">
        <div class="menu__custom-folder__dropdown">
            <input type="text" class="menu__folder__dropdown__input" placeholder="ivanovii@mailhub.su" value="{{name}}" id="f-input-{{id}}">
            <div class="menu__folder__dropdown__save-button" id="f-save-{{id}}">Сохранить</div>
            <div class="menu__folder__dropdown__cancel-button" id="f-cancel-{{id}}">Отмена</div>
            <div class="menu__folder__dropdown__delete-button" id="f-delete-{{id}}">Удалить</div>
            <div class="menu__custom-folder__dropdown__error" id="f-error-{{id}}">Ошибка</div>
        </div>
    </div>
</div>