<div class="main-root">
    {{{header}}}
    {{{menu}}}
    <div class="main-content">
        
        <div class="main__header">
            <div id="select-all" class="main__header__button_has-icon appear">
                <img src="/icons/read_off.svg" alt="">
                <span id="unselected-letters-counter" class="main__header__button_has-icon__text">Выделить
                    все</span>
            </div>
            <div id="mark-all-as-read" class="main__header__button appear">Отметить все прочитанными
            </div>


            <div id="deselect" class="main__header__button_has-icon-counter">
                <img src="/icons/done.svg" alt="">
                <span id="selected-letters-counter" class="main__header__button_has-icon-counter__counter"></span>
                <span class="main__header__button_has-icon-counter__text">Снять выделение</span>
            </div>
            <div id="delete" class="main__header__button">Удалить
            </div>
            <div id="move-to" class="main__header__button">В папку
                <div class="main__header__dropdown__wrapper">
                    <div class="main__header__dropdown">
                        {{#if folders}}
                        {{#each folders}}
                        <p data-id="{{this.id}}" id="list-folder-{{this.id}}" class="main__folder">{{this.name}}</p>
                        {{/each}}
                        {{else}}
                        Нет папок!
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#if folder_id}}
            <div id="move-from" class="main__header__button">Убрать из папки
            </div>
            {{/if}}
            {{#if spam}}
            <div id="spam" class="main__header__button">Из спама
            </div>
            {{else}}
            <div id="spam" class="main__header__button">Спам
            </div>
            {{/if}}
            <div id="mark-as-read" class="main__header__button ">Пометить прочитанными
            </div>
            <div id="mark-as-unread" class="main__header__button ">Пометить непрочитанными
            </div>
            <div class="main__header__dropdown__wrapper">
                <div class="main__header__dropdown">
                    {{#if folders}}
                    {{#each folders}}
                    <span data-id="{{this.id}}" class="main__folder">{{this.name}}</span>
                    {{/each}}
                    {{else}}
                    Нет папок!
                    {{/if}}
                </div>
            </div>

        </div>
        <div class="letter__error">Ошибка</div>
        {{{list_letters}}}
    </div>
    <!--<div class="main__control-buttons">
        <img src="/icons/roll-up.svg" class="main__collapse-rollup-button">
        <img src="/icons/close.svg" class="main__close-button">
    </div>-->
    <div class="main__notification">
        <div class="main__notification__new-letter"></div>
        <div class="main__notification__counter"></div>
    </div>
</div>