<div class="write-letter-root">
    {{{header}}}
    {{{menu}}}
    <div class="write-letter-content">
        <div class="write-letter__to">
            <div class="write-letter__to__label">Кому</div>
            {{#if replyId}}
            <input type="text" class="write-letter__to__input" placeholder="ivanovii@mailhub.su" value="{{replySender}}"
                disabled>
            {{else}}
            {{#if changeDraft}}
            <input type="text" class="write-letter__to__input" placeholder="ivanovii@mailhub.su" value="{{sender}}">
            {{else}}
            <input type="text" class="write-letter__to__input" placeholder="ivanovii@mailhub.su">
            {{/if}}
            {{/if}}
            <div class="write-letter__to__error">Ошибка</div>
        </div>
        <div class="write-letter__subject">
            <span class="write-letter__subject__label">Тема</span>
            {{#if replyId}}
            <input type="text" class="write-letter__subject__input" value="{{topic}}"
                placeholder="О чём хотите написать?">
            {{else}}
            {{#if changeDraft}}
            <input type="text" class="write-letter__subject__input" value="{{topic}}"
                placeholder="О чём хотите написать?">
            {{else}}
            <input type="text" class="write-letter__subject__input" placeholder="О чём хотите написать?">
            {{/if}}
            {{/if}}
            <div class="write-letter__subject__error">Ошибка</div>
        </div>


        <div class="write-letter__attachments">
            <input type="file" value="Выберите файл" class="write-letter__attachments__attach-input">
            <div class="write-letter__attachments__attach-button">Прикрепить файл</div>
            <div class="write-letter__attachments__view-button">
                <span class="write-letter__attachments__view-button__label"></span>
                <span class="write-letter__attachments__view-button__counter"></span>
            </div>
            <div class="write-letter__attachments__delete-all-button">Удалить все</div>
            <div class="write-letter__attachments__error">Ошибка</div>
            <div class="write-letter__attachments__dropdown__wrapper">
                <div class="write-letter__attachments__dropdown">
                </div>
            </div>
        </div>





        {{#if replyAndNotChangeDraft}}

        <textarea class="write-letter__text" placeholder="Текст письма"
            maxlength="4096">&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;Ответ на&#13;&#10;------Исходное письмо------&#13;&#10;{{date}} {{sender}}&#13;&#10;{{topic}}&#13;&#10;&#13;&#10;{{text}}&#13;&#10;------Исходное письмо------&#13;&#10;</textarea>
        {{else}}
        {{#if resendAndNotChangeDraft}}

        <textarea class="write-letter__text" placeholder="Текст письма"
            maxlength="4096">&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;------Пересылаемое письмо------&#13;&#10;{{date}} {{sender}}&#13;&#10;{{topic}}&#13;&#10;&#13;&#10;{{text}}&#13;&#10;------Пересылаемое письмо------&#13;&#10;</textarea>
        {{else}}
            {{#if changeDraft}}
        <textarea class="write-letter__text" placeholder="Текст письма" maxlength="4096">{{text}}</textarea>
            {{else}}
        <textarea class="write-letter__text" placeholder="Текст письма" maxlength="4096"></textarea>
        {{/if}}
        {{/if}}
        {{/if}}

        {{!-- {{#if list_attachments}}
        <div class="from-letter__attachments">
            <div class="from-letter__attachments__view-button">
                <span class="from-letter__attachments__view-button__label">{{files_number}}</span>
                <span class="from-letter__attachments__view-button__counter">{{total_size}} МБ</span>
            </div>
            <div class="from-letter__attachments__download-all-button">Скачать все</div>
            <div class="from-letter__attachments__error">Ошибка</div>
            <div class="from-letter__attachments__dropdown__wrapper">
                <div class="from-letter__attachments__dropdown">
                    {{{list_attachments}}}
                </div>
            </div>
        </div>
        {{/if}} --}}


        <div class="write-letter__buttons">
            <div class="write-letter__buttons__send-button">
                Отправить
            </div>
            <div class="write-letter__buttons__save-draft-button">
                Сохранить черновик
            </div>
            <div class="write-letter__buttons__cancel-button">
                Отменить
            </div>
            <div class="write-letter__buttons__error">Ошибка</div>
        </div>
    </div>
</div>