<div class="list-letter">
    <div class="list-letter__status-avatar-from-subject-text-group">
        <div class="list-letter__status">
            {{#if status}}
            <img src="../../static/icons/read-on__256.svg">
            {{/if}}
            </div>
        <div class="list-letter__avatar">

            <img src="{{avatar}}">
        </div>
        <div class="list-letter__text list-letter__white-text">
            {{from}}
        </div>
        <div class="list-letter__text list-letter__white-text">
            {{subject}}
        </div>
        <div class="list-letter__text list-letter__gray-text">
            {{text}}
        </div>
    </div>
    <div class="list-letter_date list-letter__text list-letter__gray-text">
        {{date}}
    </div>
</div>