<div class="list-letter" data-id="{{id}}">
    {{#if status}}
    <img class="list-letter__status" src="../../static/icons/read-on__256.svg">
    {{else}}
    <img class="list-letter__status list-letter__status-offer" src="../../static/icons/read-on-offer__256.svg">
    {{/if}}
    <div class="list-letter__avatar-wrapper">
        {{#if avatar}}
        <img class="list-letter__avatar-wrapper__avatar" src="{{avatar}}" alt="{{userLetter}}">
        {{else}}
        <div class="list-letter__avatar-wrapper__avatar">{{userLetter}}</div>
        {{/if}}
        <img class="list-letter__avatar-wrapper__checkbox list-letter__avatar-wrapper__checkbox_centered"
            src="../../static/icons/read_off.svg">
    </div>
    <span class="list-letter__text list-letter__text_white">
        {{from}}
    </span>
    <span class="list-letter__text list-letter__text_white">
        {{subject}}
    </span>
    <span class="list-letter__text list-letter__text_gray">
        {{text}}
    </span>
    <span class="list-letter__date list-letter__text list-letter__text_gray">
        {{date}}
    </span>
</div>