<div class="list-letter" id="list-letter-{{id}}" data-id="{{id}}">
    <div class="list-letter__status">
        {{#if status}}
        <img src="/icons/read-on__256.svg">
        {{else}}
        <img src="/icons/read-on-offer__256.svg" class="list-letter__status-offer">
        {{/if}}
    </div>
    <div class="list-letter__avatar-wrapper">
        <div class="list-letter__avatar">
            {{#if avatar}}
            <img class="list-letter__avatar__image" src="{{avatar}}" alt="{{userLetter}}">
            {{else}}
            <div class="list-letter__avatar__image">{{userLetter}}</div>
            {{/if}}
            <img class="list-letter__avatar__checkbox list-letter__avatar__checkbox_centered" src="/icons/read_off.svg">
        </div>
    </div>
    <div class="list-letter__text">
        {{from}}
    </div>
    <div class="list-letter__text">
        {{subject}}
    </div>
    <div class="list-letter__text list-letter__text_gray">
        {{text}}
    </div>
    <div class="list-letter__text list-letter__text_gray">
        {{date}}
    </div>
</div>