<div class="letter__root">
    {{{header}}}
    {{{menu}}}
    <div class="letter__content__wrapper">
        <div class="letter__content">
            <div class="letter__content__header">
                <div class="letter__content__header__button">
                    <img src="../../static/icons/arrow-previous.svg" alt="">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Удалить">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="В папку">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Спам">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Пометить прочитанным">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Помететить непрочитанным">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Ответить">
                </div>
                <div class="letter__content__header__button">
                    <input type="button" value="Переслать">
                </div>
            </div>
            <div class="letter__content__body">
                <div class="letter__content__body__subject">
                    <span>{{subject}}</span>
                </div>
                <div class="letter__content__body__info">
                    <div class="letter__content__body__info__icon-avatar-name">
                        <img class="letter__content__body__info__icon" src="../../static/icons/circle-read.svg" alt="">
                        <img src="../../static/img/avatar_32_32.svg" alt="">
                        <span>{{from}}</span>
                    </div>
                    <span>{{date}}</span>
                </div>
                <div class="letter__content__body__attachments">
                    <div class="letter__content__body__attachments__view-button">
                        <input type="button" value="5 файлов">
                        <span>255 КБ</span>
                    </div>
                    <div class="letter__content__body__attachments__download-all-button">
                        <input type="button" value="Скачать все">
                    </div>
                    <p class="letter__content__body__attachments__error remove">Ошибка</p>


                </div>
                <div class="letter__content__body__text">
                    <p>{{text}}</p>
                </div>

            </div>
        </div>
    </div>
</div>