<div class="letter-root">
    {{{header}}}
    {{{menu}}}
    <div class="letter-content">
        <div class="letter__header">
            <img id="back" src="/icons/arrow-previous.svg" alt=""
                class="letter__header__button letter__header__back-button">
            <div id="changeDraft" class="letter__header__button">Редактировать</div>
            <div id="delete" class="letter__header__button">Удалить</div>
            <div id="to-folder" class="letter__header__button">В папку</div>

            <div class="letter__header__dropdown__wrapper" id="save-wrapper">
                <div class="letter__header__dropdown">
                    {{#if folders}}
                    {{#each folders}}
                    <p data-id="{{this.id}}" class="letter__folder letter__folder-save">{{this.name}}</p>
                    {{/each}}
                    {{else}}
                    Нет папок!
                    {{/if}}
                </div>
            </div>

            <div id="from-folder" class="letter__header__button">Убрать из папки</div>

            <div class="letter__header__dropdown__wrapper" id="delete-wrapper">
                <div class="letter__header__dropdown">
                    {{#if delete_folders}}
                    {{#each delete_folders}}
                    <p data-id="{{this.id}}" class="letter__folder letter__folder-delete">{{this.name}}</p>
                    {{/each}}
                    {{else}}
                    Нет папок!
                    {{/if}}
                </div>
            </div>

            {{!-- <div class="dropdown__wrapper__month">
                <div class="dropdown__month">
                    {{#if folders}}
                    {{#each folders}}
                    <p data-id="{{this.id}}" class="letter__folder">{{this.name}}</p>
                    {{/each}}
                    {{else}}
                    Нет папок!
                    {{/if}}
                </div>
            </div> --}}
            <div id="to-spam" class="letter__header__button">Спам</div>
            <div id="mark-as-read" class="letter__header__button">Пометить прочитанным</div>
            <div id="mark-as-unread" class="letter__header__button">Помететить непрочитанным</div>
            <div id="reply" class="letter__header__button">Ответить</div>
            <div id="resend" class="letter__header__button">Переслать</div>
        </div>

        <div class="letter__error">Ошибка</div>


        <span class="letter__subject">
            {{subject}}
        </span>
        <div class="letter__info">
            {{#if status}}
            <img class="letter__info__icon" src="/icons/read-on-offer__256.svg" alt="">
            {{else}}
            <img class="letter__info__icon" src="/icons/read-on__256.svg" alt="">
            {{/if}}
            {{#if avatar}}
            <img class="letter__info__avatar" src="{{avatar}}" alt="{{userLetter}}">
            {{else}}
            <div class="letter__info__avatar">{{userLetter}}</div>
            {{/if}}
            <span class="letter__info__from">{{from}}</span>
            <span class="letter__info__date">{{date}}</span>
        </div>
        <div class="letter__attachments">
            <div class="letter__attachments__view-button">
                <span class="letter__attachments__view-button__label">5 файлов</span>
                <span class="letter__attachments__view-button__counter">255 КБ</span>
            </div>
            <div class="letter__attachments__download-all-button">Скачать все</div>
            <div class="letter__attachments__error">Ошибка</div>
            <div class="letter__attachments__dropdown__wrapper">
                <div class="letter__attachments__dropdown">
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">файл1</div>
                        <div class="letter__attachments__dropdown__file__size">999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Скачать</div>
                    </div>
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">Очень длинное название которое не
                            влезит в строку</div>
                        <div class="letter__attachments__dropdown__file__size">99999999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Скачать</div>
                    </div>
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">Очень длинное название которое не
                            влезит в строку</div>
                        <div class="letter__attachments__dropdown__file__size">99999999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Скачать</div>
                    </div>
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">Очень длинное название которое не
                            влезит в строку</div>
                        <div class="letter__attachments__dropdown__file__size">99999999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Скачать</div>
                    </div>
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">Очень длинное название которое не
                            влезит в строку</div>
                        <div class="letter__attachments__dropdown__file__size">99999999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Скачать</div>
                    </div>
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">Очень длинное название которое не
                            влезит в строку</div>
                        <div class="letter__attachments__dropdown__file__size">99999999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Скачать</div>
                    </div>
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">Очень длинное название которое не
                            влезит в строку</div>
                        <div class="letter__attachments__dropdown__file__size">99999999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Скачать</div>
                    </div>
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">Очень длинное название которое не
                            влезит в строку</div>
                        <div class="letter__attachments__dropdown__file__size">99999999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Удалить</div>
                    </div>
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">Очень длинное название которое не
                            влезит в строку</div>
                        <div class="letter__attachments__dropdown__file__size">99999999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Скачать</div>
                    </div>
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">Очень длинное название которое не
                            влезит в строку</div>
                        <div class="letter__attachments__dropdown__file__size">99999999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Скачать</div>
                    </div>
                    <div class="letter__attachments__dropdown__file">
                        <div class="letter__attachments__dropdown__file__name">Очень длинное название которое не
                            влезит в строку</div>
                        <div class="letter__attachments__dropdown__file__size">99999999 КБ</div>
                        <div class="letter__attachments__dropdown__file__delete-button">Скачать</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="letter__text">{{text}}</div>
    </div>
</div>